#PayTable, #GameRules {
    font-family: "Arial", Georgia, serif;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    background: rgba(92, 92, 92, 0);
    padding: 0;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    border: 4px solid #252525;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #918e8e;
    border-radius: 8px;
    border: 2px solid #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
    background: #918e8e;
}

#buildDate, #gameVersion, #gameServerVersion {
    text-align: center;
}

.flex-wrapper {
    width: 80%;
    margin-left: 10%;
}

.flex-wrapper, .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.flex-container {
    margin-top: 50px;
}

.payouts-container {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 28px;
}

.win-ways {
    font-weight: 700;
}

.line-separator-image {
    margin-top: 40px;
    margin-bottom: 20px;
}

.title-text {
    margin: 20px;
    color: rgb(255, 190, 100);
    font-weight: bold;
    text-shadow: 0 0.2em 0.3em black;
    font-size: 42px;
}

.description-text, .description-list {
    text-align: left;
    font-size: 24px;
    width: 50%;
}

.description-list li ul {
    list-style-type: disc;
}

.description-labeled-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.description-numeric-list {
    list-style-type: decimal;
}

.description-line {
    display: inline-block;
    width: 100%;
}

.feature-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#buildDate, #gameVersion {
    text-align: center;
}

/* paytable & gamerules */

/* History */
#HistoryContainer {
    background: rgba(0, 0, 0, 0.1);
}

div.gameresult {
    background-color: #ffffff;
    position: relative;
    left: 50%;
    display: inline-block;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

/* History */

/* History button */
#historyButton {
    color: white;
    border-radius: 6px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #474647;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    padding: 8px;
}

#historyButton:hover {
    background-color: #565555;
}

/* History button */

/* History close button */
.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
    border: 0;
    padding: 0;
    background: #a6a6a6;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-transition: all 150ms;
    transition: all 150ms;
}

.btn-close:hover, .btn-close:focus {
    -webkit-transform: rotateZ(90deg);
        -ms-transform: rotate(90deg);
            transform: rotateZ(90deg);
    background: #858585;
}

.btn-close .icon-cross {
    position: relative;
    width: 30px;
    height: 30px;
}

.btn-close .icon-cross:before, .btn-close .icon-cross:after {
    content: '';
    position: absolute;
    top: 13px;
    left: 0;
    right: 0;
    height: 4px;
    background: #fff;
    border-radius: 4px;
}

.btn-close .icon-cross:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.btn-close .icon-cross:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

/* History close button */

/* History message */
.history-message {
    position: absolute;
    top: 40%;
    left: 50%;
    color: rgb(255, 190, 100);
    font-size: 60px;
    font-weight: bold;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

/* History message */



.AnimationPlayerHTMLElement {
    font-family: monospace;
    color: #d4d4cd;
    user-select: none;
}

.TweakUtilsHeader {
    top: 0px
}

.DraggableHeader {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    background: #204420;
    font-family: monospace;
    color: #d4d4cd;
}

.LineEdit {
    text-align: center;
}

.SmallLabel {
    padding-left: 6px;
}

input.AnimationPlayerHTMLElement {
    background: rgba(33,33,33,0.5);
    color: #c3d0ce;
    font-weight: 900;
    border-radius: 5px;
    flex-shrink: 1;
}

textarea.AnimationPlayerHTMLElement {
    background: rgba(33,33,33,0.5);
    color: #9ddaae;
    border-radius: 5px;
}

label.ZOrderLabel {
    width: 150px;
}

select.AnimationPlayerHTMLElement {
    background: rgba(33,33,33,0.5);
    color: #97ffe8;
    border-radius: 5px;
}

button.AnimationPlayerHTMLElement {
    background: rgba(33,33,33,0.5);
    color: #f6f5f5;
}

info-tag {
    color: aqua;
}

.hidden {
    display: none;
}

.dataTag {
    color: orange;
}

[type=radio]:checked + img {
    outline: 2px solid #fff;
}
